<%# HTML correspondiente a los articulos extras %>

<div class="article-extra-container">
  <div class="article-extra-title">
    <h2>Noticias Varias</h2>
  </div>

  <div class="article-extra-card-carousel">
    <div class="article-extra-card-container">

      <div class="article-extra-card-line">

        <%# card 15 %>
          <div class="card-15">
            <a href="">
              <%= image_tag "290624.jpg" %>
              <p class="text-32">Texto</p>
            </a>
          </div>


        <%# card 16 %>
        <div class="card-16">
          <a href="">
            <%= image_tag "290624.jpg" %>
            <p class="text-32">Texto</p>
          </a>

        </div>

        <%# card 17 %>
        <div class="card-17">
          <a href="">
            <%= image_tag "290624.jpg" %>
            <p class="text-32">Texto</p>
          </a>
        </div>

        <%# card 18 %>
        <div class="card-18">
          <a href="">
            <%= image_tag "290624.jpg" %>
            <p class="text-32">Texto</p>
          </a>
        </div>

        <%# card 19 %>
        <div class="card-19">
          <a href="">
            <%= image_tag "290624.jpg" %>
            <p class="text-32">Texto</p>
          </a>
        </div>

        <%# card 20 %>
        <div class="card-20">
          <a href="">
            <%= image_tag "290624.jpg" %>
            <p class="text-32">Texto</p>
          </a>
        </div>

        <%# card 21 %>
        <div class="card-21">
          <a href="">
            <%= image_tag "290624.jpg" %>
            <p class="text-32">Texto</p>
          </a>
        </div>

        <%# card 22 %>
        <div class="card-22">
          <a href="">
            <%= image_tag "290624.jpg" %>
            <p class="text-32">Texto</p>
          </a>
        </div>

        <%# card 23 %>
        <div class="card-23">

        </div>

        <%# card 24 %>
        <div class="card-24">

        </div>

        <%# card 25 %>
        <div class="card-25">

        </div>

        <%# card 26 %>
        <div class="card-26">

        </div>
      </div>

    </div>
  </div>

  <button class="carousel-btn prev-btn">&lt;</button>
  <button class="carousel-btn next-btn">&gt;</button>
</div>

<%# JavaScript %>
<script>
  document.addEventListener('DOMContentLoaded', () => {
  const carousel = document.querySelector('.article-extra-card-carousel');
  const prevBtn = document.querySelector('.prev-btn');
  const nextBtn = document.querySelector('.next-btn');

  prevBtn.addEventListener('click', () => {
    carousel.scrollBy({
      left: -carousel.clientWidth,
      behavior: 'smooth'
    });
  });

  nextBtn.addEventListener('click', () => {
    carousel.scrollBy({
      left: carousel.clientWidth,
      behavior: 'smooth'
    });
  });
});

</script>
