<%# HTML correspondiente a los articulos secundarios %>
<div class="article-secundary-container">

  <div class="article-secundary-title">
    <a href="">Noticias secundarias</a>
  </div>

  <div class="article-secundary-card-container">

    <%# noticia secundaria 1 %>
    <div class="card-12">
      <%= image_tag "290624.jpg", class="img-noticia" %>
      <%= image_tag "argentina.png", class="img-flag" %>
      <a href="">Titulo</a>
      <p class="text-29">Texto de la noticia</p>
    </div>

    <%# noticia secundaria 2 %>
    <div class="card-13">
      <%= image_tag "290624.jpg" %>
      <%= image_tag "argentina.png" %>
      <a href="">Titulo</a>
      <p class="text-30">Texto de la noticia</p>
    </div>

    <%# noticia secundaria 3 %>
    <div class="card-14">
      <%= image_tag "290624.jpg" %>
      <%= image_tag "argentina.png" %>
      <a href="">Titulo</a>
      <p class="text-31">Texto de la noticia</p>
    </div>

  </div>

</div>
