<title>Noticias de Argentina</title>
<%= render 'shared/navbar' %>

<div class="argentina-container">

  <div class="argentina-info-card">
    <%# bandera del pais de la pagina %>
    <%= image_tag "argentina.png" %>

    <%# logo de partido del gobierno %>
    <div class="card-04">
      <%= image_tag "logo-LLA.png" %>
    </div>

    <%# Indice de libertad economica %>
    <div class="card-01">
      <div class="card-01-a">
        <p class="text-01">Indice de libertad economica</p>
      </div>
      <div class="card-01-b">
        <p class="text-02">Indice 49,9 posicion 145</p>
      </div>
    </div>

    <%# Precio del dolar legal %>
    <div class="card-02">
      <div class="card-02-a">
        <p class="text-03">Dolar USA</p>
      </div>
      <div class="card-02-b">
        <p class="text-04">Compra</p>
        <p class="text-05">↑884,5</p>
        <p class="text-06">Venta</p>
        <p class="text-07">↑924,5</p>
      </div>
    </div>

    <%# Precio del dolar blue %>
    <div class="card-03">
      <div class="card-03-a">
        <p class="text-08">Dolar Blue</p>
      </div>
      <div class="card-03-b">
        <p class="text-09">Compra</p>
        <p class="text-10">↑884,5</p>
        <p class="text-11">Venta</p>
        <p class="text-12">↑924,5</p>
      </div>
    </div>

    <%# Inflacion mensual %>
    <div class="card-05">
      <div class="card-05-a">
        <p class="text-13">Inflacion mensual</p>
      </div>
      <div class="card-05-b">
        <p class="text-14">↓ 4,2%</p>

      </div>

    </div>

  </div>

  <%# titulo de pagina %>
  <div class="argentina-title">
    <h2>Noticias de Argentina</h2>
  </div>

  <div class="noticia-principal-argentina">
    <div class="card-32">

  <div class="card-32-title">
    <%= image_tag "argentina.png" %>
    <a href="">Noticias de argentina</a>
  </div>

  <div class="card-32-img">
    <%= image_tag "290624.jpg"  %>
  </div>

  <div class="card-32-text">
  <p>Texto de la noticia</p>
  </div>

</div>

  </div>

</div>
<%= render 'shared/footer' %>
