<%# HTML correspondiente a argentina %>
<title>Noticias de Argentina</title>
<%= render 'shared/navbar' %>

<%# division que contiene toda la pagina %>
<div class="argentina-container">

  <%# carta con informacion general del pais %>
  <div class="info-card">
    <%# bandera del pais de la pagina %>
    <%= image_tag "argentina.png" %>

    <%# logo de partido del gobierno %>
    <div class="Logo-argentina">
      <%= image_tag "logo-LLA.png" %>
    </div>

    <%# Indice de libertad economica %><%# ↓ ↑ %>
    <div class="ILL">
      <div class="ILL-a">
        <p class="text-01">Indice de libertad economica</p>
      </div>
      <div class="ILL-b">
        <p class="text-02">Indice 49,9 posicion 145</p>
      </div>
    </div>

    <%# Precio del dolar legal %><%# ↓ ↑ %>
    <div class="ILL-2">
      <div class="ILL-2-a">
        <p class="text-03">Dolar USA</p>
      </div>
      <div class="ILL-2-b">
        <p class="text-04">Compra</p>
        <p class="text-05">↑909.50</p>
        <p class="text-06">Venta</p>
        <p class="text-07">↓949.50</p>
      </div>
    </div>

    <%# Precio del dolar blue %><%# ↓ ↑ %>
    <div class="ILL-3">
      <div class="ILL-3-a">
        <p class="text-08">Dolar Blue</p>
      </div>
      <div class="ILL-3-b">
        <p class="text-09">Compra</p>
        <p class="text-10">↓1415</p>
        <p class="text-11">Venta</p>
        <p class="text-12">↓1435</p>
      </div>
    </div>

    <%# Inflacion mensual %><%# ↓ ↑ %>
    <div class="ILL-4">
      <div class="ILL-4-a">
        <p class="text-13">Inflacion mensual</p>
      </div>
      <div class="ILL-4-b">
        <p class="text-14">↑ 4,6%</p>
      </div>
    </div>
  </div>

  <%# titulo de pagina %>
  <div class="argentina-title">
    <h2>Noticias de Argentina</h2>
  </div>

  <%# noticia principal de argentina %>
  <div class="noticia-principal-container">

    <div class="noticia-principal-title">
      <%= image_tag "argentina.png" %>
      <a href="">Noticias de argentina</a>
    </div>

    <div class="noticia-principal-img">
      <%= image_tag "290624.jpg"  %>
    </div>

    <div class="noticia-principal-text">
      <p>Texto de la noticia</p>
    </div>

  </div>

  <%# exponentes liberales de argentina %>
  <div class="exponentes-liberales">

    <div class="exponentes-title">
      <h2>Exponentes liberales de Argentina</h2>
    </div>

    <%# linea 1 - exponente 1 y 2 %>
    <div class="exponentes-liberales-line-one">

      <%# exponente liberal I %>
      <div class="exponente-1">

        <div class="exponente-1-img">
          <%= image_tag "tipito-enojado" %>
        </div>

        <div class="exponente-1-title">
          <a href="">Tipito enojado</a>
        </div>

        <div class="exponente-1-description">
          <p class="text-49">
          Tipito Enojado es un exponente
          liberal que se dedica a la politica
          y a la economia. Es un gran defensor
          de la libertad de expresion y de la
          libertad de mercado. Es un gran
          critico de los gobiernos autoritarios
          y de las politicas socialistas.
          </p>
        </div>

      </div>

      <%# exponente liberal II %>
      <div class="exponente-2">

        <div class="exponente-2-img">
          <%= image_tag "tipito-enojado" %>
        </div>

        <div class="exponente-2-title">
          <a href="">Tipito enojado</a>
        </div>

        <div class="exponente-2-description">
          <p class="text-50">
            Tipito Enojado es un exponente
            liberal que se dedica a la politica
            y a la economia. Es un gran defensor
            de la libertad de expresion y de la
            libertad de mercado. Es un gran
            critico de los gobiernos autoritarios
            y de las politicas socialistas.
            </p>
        </div>

      </div>

    </div>

    <%# linea 2 %>
    <div class="exponentes-liberales-line-two">
      <%# exponente liberal III %>
      <div class="exponente-1">

        <div class="exponente-1-img">
          <%= image_tag "tipito-enojado" %>
        </div>

        <div class="exponente-1-title">
          <a href="">Tipito enojado</a>
        </div>

        <div class="exponente-1-description">
          <p class="text-49">
          Tipito Enojado es un exponente
          liberal que se dedica a la politica
          y a la economia. Es un gran defensor
          de la libertad de expresion y de la
          libertad de mercado. Es un gran
          critico de los gobiernos autoritarios
          y de las politicas socialistas.
          </p>
        </div>

      </div>

      <%# exponente liberal IV %>
      <div class="exponente-2">

        <div class="exponente-2-img">
          <%= image_tag "tipito-enojado" %>
        </div>

        <div class="exponente-2-title">
          <a href="">Tipito enojado</a>
        </div>

        <div class="exponente-2-description">
          <p class="text-50">
            Tipito Enojado es un exponente
            liberal que se dedica a la politica
            y a la economia. Es un gran defensor
            de la libertad de expresion y de la
            libertad de mercado. Es un gran
            critico de los gobiernos autoritarios
            y de las politicas socialistas.
            </p>
        </div>

      </div>
    </div>

  </div>

  <%# noticia principal de argentina %>
  <div class="noticia-principal-container">

    <div class="noticia-principal-title">
      <%= image_tag "argentina.png" %>
      <a href="">Noticias de argentina</a>
    </div>

    <div class="noticia-principal-img">
      <%= image_tag "290624.jpg"  %>
    </div>

    <div class="noticia-principal-text">
      <p>Texto de la noticia</p>
    </div>

  </div>



</div>

<%# footer %>
<%= render 'shared/footer' %>
