<%# HTMl correspondiente a la pagina de brazil %>
<title>Noticias de Brasil</title>
<%= render 'shared/navbar' %>


<div class="brazil-container">

  <div class="info-card">
    <%# bandera del pais de la pagina %>
    <%= image_tag "brazil.png" %>

    <%# logo de partido del gobierno %>
    <div class="Logo-brazil">
      <%= image_tag "logo-PT.png" %>
    </div>

    <%# Indice de libertad economica %><%# ↓ ↑ %>
    <div class="ILL">
      <div class="ILL-a">
        <p class="text-01">Indice de libertad economica</p>
      </div>
      <div class="ILL-b">
        <p class="text-02">Indice 57,3 posicion 105</p>
      </div>
    </div>

    <%# Precio del dolar legal %><%# ↓ ↑ %>
    <div class="ILL-2">
      <div class="ILL-2-a">
        <p class="text-03">Dolar USA</p>
      </div>
      <div class="ILL-2-b">
        <p class="text-04">Compra</p>
        <p class="text-05">↑5.50</p>
        <p class="text-06">Venta</p>
        <p class="text-07">↓5.50</p>
      </div>
    </div>

    <%# Precio del dolar blue %><%# ↓ ↑ %>
    <div class="ILL-3">
      <div class="ILL-3-a">
        <p class="text-08">Dolar Blue</p>
      </div>
      <div class="ILL-3-b">
        <p class="text-09">Compra</p>
        <p class="text-10">↓5.50</p>
        <p class="text-11">Venta</p>
        <p class="text-12">↓5.50</p>
      </div>
    </div>

    <%# Inflacion mensual %><%# ↓ ↑ %>
    <div class="ILL-4">
      <div class="ILL-4-a">
        <p class="text-27">Inflacion mensual</p>
      </div>
      <div class="ILL-4-b">
        <p class="text-28">↓ 0,41%</p>
      </div>
    </div>

  </div>

  <%# division correspondiente a la noticia principal de brazil %>
  <div class="noticia-principal-brazil">
    <div class="card-43">
      <div class="card-43-title">
        <%= image_tag "brazil.png" %>
        <a href="">Noticias de Brasil</a>
      </div>

      <div class="card-43-img">
        <%= image_tag "290624.jpg"  %>
      </div>

      <div class="card-43-text">
        <p>Texto de la noticia</p>
      </div>
    </div>

  </div>

  <%# division correspondiente a los exponentes liberales de brazil %>
  <div class="exponentes-liberales-brazil">

    <%# linea 1 de liberales brazil card 44 y card 45 %>
    <div class="exponentes-liberales-brazil-line-one">

      <div class="card-44">
        <div class="card-44-title">
          <%= image_tag "brazil.png" %>
          <a href="">Noticias de Brasil</a>
        </div>

        <div class="card-44-img">
          <%= image_tag "290624.jpg"  %>
        </div>

        <div class="card-44-text">
          <p>Texto de la noticia</p>
        </div>

      </div>

    </div>
  </div>

<%# footer %>
<%= render 'shared/footer' %>
</div>
