<%# HTML correspondiente a EEUU %>
<title>Noticias de EEUU</title>
<%= render 'shared/navbar' %>

<div class="eeuu-container">

  <div class="eeuu-info-card">
    <%# bandera del pais de la pagina %>
    <%= image_tag "eeuu.png" %>

    <%# logo de partido del gobierno %>
    <div class="card-43">
      <%= image_tag "logo-DMPT.png" %>
    </div>

    <%# Indice de libertad economica %><%# ↓ ↑ %>
    <div class="card-43">
      <div class="card-43-a">
        <p class="text-01">Indice de libertad economica</p>
      </div>
      <div class="card-43-b">
        <p class="text-02">Indice 70,1 posicion 25</p>
      </div>
    </div>

    <%# Precio del dolar legal %><%# ↓ ↑ %>
    <div class="card-02">
      <div class="card-02-a">
        <p class="text-03">Dolar USA</p>
      </div>
      <div class="card-02-b">
        <p class="text-04">Compra</p>
        <p class="text-05">↑909.50</p>
        <p class="text-06">Venta</p>
        <p class="text-07">↓949.50</p>
      </div>
    </div>

    <%# Precio del dolar blue %><%# ↓ ↑ %>
    <div class="card-03">
      <div class="card-03-a">
        <p class="text-08">Dolar Blue</p>
      </div>
      <div class="card-03-b">
        <p class="text-09">Compra</p>
        <p class="text-10">↓1415</p>
        <p class="text-11">Venta</p>
        <p class="text-12">↓1435</p>
      </div>
    </div>

    <%# Inflacion mensual %><%# ↓ ↑ %>
    <div class="card-05">
      <div class="card-05-a">
        <p class="text-13">Inflacion mensual</p>
      </div>
      <div class="card-05-b">
        <p class="text-14">↑ 4,6%</p>
      </div>
    </div>
  </div>

  <%# titulo de pagina %>
  <div class="eeuu-title">
    <h2>Noticias de EE.UU.</h2>
  </div>

  <%# noticia principal de argentina %>
  <div class="noticia-principal-argentina">
    <div class="card-42">
      <div class="card-42-title">
        <%= image_tag "eeuu.png" %>
        <a href="">Noticias de Estados Unidos</a>
      </div>

      <div class="card-42-img">
        <%= image_tag "290624.jpg"  %>
      </div>

      <div class="card-42-text">
        <p>Texto de la noticia</p>
      </div>
    </div>

  </div>
</div>
