<%# HTML correspondiente a la pagina de inicio %>

<%# titulo de pagina %>
<title>America Liberal</title>

<%# barra de navegacion %>
<%= render 'shared/navbar' %>

<%# contenedor de la pagina principal %>
<div class="home-container">

  <%# titulo general de la pagina principal %>
  <div class="home-title">
    <h1>Volvamos a hacer de America un gran continente</h1>
  </div>
  <%= render 'shared/article_principal' %>

  <%# division correspondiente a las noticias secundarias %>
  <%= render 'shared/article_secundary' %>

  <%# division correspondiente a las noticias extras %>
  <%= render 'shared/article_extra' %>

  <%# division correspondiente a los exponentes %>
  <div class="exponentes">

    <div class="exponentes-title">
      <h2>Exponentes Liberales</h2>
    </div>

    <div class="exponentes-line-one">

      <%# carta de exponente 1 %>
      <div class="card-27">
        <div class="card-27-img">
          <%= image_tag "tipito-enojado" %>
        </div>
      </div>

      <div class="card-28">
        <div class="card-28-img">
          <%= image_tag "tipito-enojado" %>
        </div>
      </div>

    </div>
    <div class="exponentes-line-two">

    </div>

  </div>

</div>

  <%# division correspondiente al footer %>
  <%= render 'shared/footer' %>
