<%# HTML correspondiente a Uruguay %>
<title>Noticias de Uruguay</title>
<%= render 'shared/navbar' %>

<div class="uruguay-container">

  <div class="info-card">


    <%# bandera del pais de la pagina %>
    <%= image_tag "uruguay.png" %>

    <%# logo de partido del gobierno %>
    <div class="Logo-uruguay">
      <%= image_tag "logo-PN.png" %>
    </div>

    <%# Indice de libertad economica %>
    <div class="ILL">
      <div class="ILL-a">
        <p class="text-15">Indice de libertad economica</p>
      </div>
      <div class="ILL-b">
        <p class="text-16">Indice 69,8 posicion 27</p>
      </div>
    </div>

    <%# Precio del dolar americano %><%# ↓ ↑ %>
    <div class="ILL-2">
      <div class="ILL-2-a">
        <p class="text-17">Dolar USA</p>
      </div>
      <div class="ILL-2-b">
        <p class="text-18">Compra</p>
        <p class="text-19">↑39,15</p>
        <p class="text-20">Venta</p>
        <p class="text-21">↑41,35</p>
      </div>
    </div>

    <%# Precio del euro %><%# ↓ ↑ %>
    <div class="ILL-3">
      <div class="ILL-3-a">
        <p class="text-22">Euro</p>
      </div>
      <div class="ILL-3-b">
        <p class="text-23">Compra </p>
        <p class="text-24"> ↑41,48</p>
        <p class="text-25"> Venta </p>
        <p class="text-26"> ↓46,19 </p>
      </div>
    </div>

    <%# Inflacion mensual %><%# ↓ ↑ %>
    <div class="ILL-4">
      <div class="ILL-4-a">
        <p class="text-27">Inflacion mensual</p>
      </div>
      <div class="ILL-4-b">
        <p class="text-28">↓ 0,41%</p>
      </div>
    </div>

  </div>

  <%# titulo de la pagina %>
 <div class="uruguay-title">
    <h2>Noticias de Uruguay</h2>
  </div>

  <%# noticia principal uruguay %>
  <div class="noticia-principal-uruguay">
     <div class="card-37">

      <div class="card-37-title">
        <%= image_tag "uruguay.png" %>
        <a href="">Noticia principal de uruguay</a>
      </div>

      <div class="card-37-img">
        <%= image_tag "290624.jpg"  %>
      </div>

      <div class="card-37-text">
        <p>Texto de la noticia</p>
      </div>

    </div>


  </div>

    <%# exponentes liberales de uruguay %>
    <div class="exponentes-liberales-uruguay">

      <%# linea 1 - card 38 y 39 %>
      <div class="exponentes-liberales-uruguay-line-one">

        <%# exponente liberal 1 card 38 %>
        <div class="card-38">

          <div class="card-38-img">
            <%= image_tag "javier-milei.png" %>
          </div>

          <div class="card-38-title">
            <a href="">Javier Milei</a>
          </div>

          <div class="card-38-description">
            <p class="text-49">Presidente de la nacion
              argentina, es economista
            </p>
          </div>

        </div>

        <%# exponente liberal 2 card 39 %>
        <div class="card-39">

          <div class="card-39-img">
            <%= image_tag "agustin-etchebarne.png" %>
          </div>

          <div class="card-39-title">
            <a href="">Agustin Etchebarne</a>
          </div>

          <div class="card-39-description">
            <p class="text-50">Agustin Etchebarne
              es un exponent y economista liberal
              presidente de la fundacion libertad
              en argentina, es un gran defensor de
              la libertad de mercado y de la libertad</p>
          </div>

        </div>

      </div>
      <%# linea 2 - card 40 y 41 %>
      <div class="exponentes-liberales-uruguay-line-two">

        <%# exponente liberal 3 card 40 %>
        <div class="card-40">

          <div class="card-40-img">
            <%= image_tag "manuel-adorni.png" %>
          </div>

          <div class="card-40-title">
            <a href="">Manuel Adorni</a>
          </div>

          <div class="card-40-description">
            <p class="text-50">Manuel Adorni
              es un exponente y economista liberal
              y vocero oficial de presidencia de la
              republica argentia, es un gran defensor de
              la libertad de mercado y de la libertad</p>
          </div>

        </div>



        <%# exponente liberal 4 card 41 %>
        <div class="card-41">

          <div class="card-41-img">
            <%= image_tag "victoria-villarruel.png" %>
          </div>

          <div class="card-41-title">
            <a href="">Victoria Villarruel</a>
          </div>

          <div class="card-41-description">
            <p class="text-50">Victoria Villarruel
              es la vicepresidenta de la nacion argentina
              por la libertad avanza, es abogada y es hija
              de un heroe de la guerra de malvinas</p>
          </div>

        </div>
      </div>

    </div>




</div>

<%= render 'shared/footer' %>
